{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-neon">О DreamStore</h1>
    <p>DreamStore — это платформа для покупки и продажи цифровых товаров. Мы предлагаем удобный интерфейс, безопасные транзакции и широкий выбор продуктов от проверенных продавцов.</p>
    <p>Наша миссия — сделать процесс покупки цифровых товаров простым и надежным. Присоединяйтесь к нам и откройте мир цифровых возможностей!</p>
</div>
{% endblock %}